<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <classes>
            <class name="webdriver.Topic_02_Selenium_Locator" /></classes>
            <class name="webdriver.Topic_02_Selenium_Locator" />
        </classes>
</test>
</suite>